body { font-family: 'Ubuntu', sans-serif; }
.navbar { margin-bottom: 0; }
.navbar { background: rgba(0, 0, 31, 0.9); }
.navbar { color: rgba(255, 255, 255, 0.9); }
.navbar { border-color: rgba(204, 204, 204, 0.2); }
.jumbotron { background: rgba(0, 0, 31, 0.8); }
.jumbotron { color: rgba(255, 255, 255, 0.8); }
.jumbotron h1 { color: rgba(255, 255, 255, 1); }
.jumbotron .head { font-family: 'Source Sans Pro', sans-serif; }
.jumbotron .head { text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px; }
.jumbotron button { border-radius: 0; }
