body { font-family: 'Ubuntu', sans-serif; }
body { background: #f9f2f4; }
body { color: #666666 }
.navbar { margin-bottom: 0; }
.navbar { background: rgba(0, 0, 31, 0.8); }
.navbar { color: rgba(255, 255, 255, 0.9); }
.navbar { border-color: rgba(204, 204, 204, 0.2); }
.jumbotron { background: rgba(0, 0, 31, 0.7); }
.jumbotron { color: rgba(255, 255, 255, 0.8); }
.jumbotron { border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
.jumbotron h1 { color: rgba(255, 255, 255, 1); }
.jumbotron .head { font-family: 'Source Sans Pro', sans-serif; }
.jumbotron .btn { border-radius: 0; }
h2 { color: rgba(0, 61, 93, 1); }
.shell { background: rgba(31, 31, 31, 1); }
.shell { color: rgba(255, 255, 255, 1); }
.how-it-works-ssnip { font-size: 24px; }
.how-it-works-ssnip { font-weight: bold; }
.how-it-works-ssnip { margin: 64px 0px; }
.how-it-works-ssnip { color: rgba(0, 0, 0, 0.5); }
.showterm { border: 1px solid rgba(0, 0, 0, 0.2); }
.demo-gif { border: 1px solid rgba(0, 0, 0, 0.2); max-width: 608px; max-height: 308px; }
